@model IEnumerable<CheckLifeWeb.Models.Vacuna>
@{
    ViewData["Title"] = "Vacunas " + @ViewBag.Accion;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/general.css">
    <link rel="stylesheet" href="~/css/iconosTabla.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
</head>
<body>

    <div class="container ">
        <div class="bg-1 text-center">
            <img src="~/Img/Iconos/vacunaAplicar2.jpg" class="img-circle" alt="Bird" width="150" height="150">
            <div class="divTitulos">
                <h2>Vacunas @ViewBag.Accion</h2>
            </div>
        </div>
        <br />

        @if (ViewBag.Msj != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.Msj
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        @if (Model != null )
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Vacuna</th>
                        @if (ViewBag.Aplicar != null)
                        {
                            <th scope="col">Aplicar</th>
                        }
                        else
                        {
                            <th scope="col">Fecha de Aplicacion</th>
                            <th scope="col">Marca Comercial o Lote</th>
                            <th scope="col">Sello y Firma</th>
                            <th scope="col">Matricula</th>
                        }

                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model)
                    {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => item.CalendarioVacuna.Descripcion) </td>

                        @if (ViewBag.Aplicar != null)
                        {
                            <td>
                                <a class="btn-syringe" asp-action="Aplicar" asp-route-id="@item.ID"><i class="fa fa-notes-medical"></i></a>
                            </td>
                        }
                        else
                        {
                            <td> @Html.DisplayFor(modelItem => item.FechaAplicada) </td>
                            <td> @Html.DisplayFor(modelItem => item.MarcaComercialLote) </td>
                            <td> @Html.DisplayFor(modelItem => item.SelloFirma) </td>
                            <td> @Html.DisplayFor(modelItem => item.MatriculaEnfermero) </td>
                        }


                    </tr>
                    }



                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                @ViewBag.SinRegistro
            </div>
        }
    </div>
    <div class="text-center">
        <a asp-action="Paciente" asp-route-id="@ViewBag.ID">Volver</a>
    </div>
</body>
</html>